{{#if laptops}}
<h1>Search for laptops by CPU</h1>
<form action="" method="" id="filter_laptops">
	<label>CPU Name: </label>
	<select id = "filter">
		{{#each CPUs}}
			<option> {{cpuName}} </option>
		{{/each}}
	</select>
    <input type="button" value="Filter" onclick="filterLaptopsByCPU()" id = "filter">
</form>
<h2>Search results:</h2>
<div class="table">
	<table>
	  <tr>
	  	<th>cpuName</th>
		<th>laptopID</th>
		<th>laptopName</th>
		<th>manufactuerID</th>
		<th>ram</th>
		<th>storage</th>
		<th>pdfLink</th>
	  </tr>
	  {{#each laptops}}
		<tr>
		  <td>{{cpuName}}</td>
		  <td>{{laptopID}}</td>
		  <td>{{laptopName}}</td>
		  <td>{{manufacturerID}}</td>
		  <td>{{ram}}</td>
		  <td>{{storageAmount}}</td>
		  <td><a href="#">{{pdfLink}}</a></td>
		</tr>
	  {{/each}}
	</table>
</div>
{{else}}
    <br>
    <h3> Laptop table is empty; add a Laptop or refresh database at homepage. </h3>
    </br>
{{/if}}